<article class="story">
  <h1><%= link_to(post.title, post_path(post)) %></h1>
  <p class="postdate"><%=format_post_date(post.published_at) %></p>
 <%=raw post.body_html %>
  <p class="more"><a href="">Continue reading...</a></p>
<%= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments')) %>
</article> <!-- // .story -->

